@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
<h1>Navodila za uporabo</h1>
<hr>
</div>
<ul>
    <li>Kliknete v desni zgornji kot, kjer se prijavite z vašim Emailom in geslom, ki ga imate na vašemu Emailu.</li>
    <li>Ko se prijavite imate možnost spremembe gesla. Spremenite ga tako, da kliknete na vaš Email (desno zgoraj) in kliknete na zavihek Password, kjer vnesete trenutno geslo in potem, geslo katero želite imeti.</li>
    <li>Prosimo vas, da kliknete na zavihek stiki, kjer dodate podatke oseb, s katerimi ste bili v stiku.</li>
    <li>Imate še zavihek konec karantene, kjer vam prikazuje preostanek dni karantene</li>
</ul>
