@model IEnumerable<web.Models.Uporabnik>


@using Microsoft.AspNetCore.Identity
@using web.Models

@inject SignInManager<Uporabnik> SignInManager
@inject UserManager<Uporabnik> UserManager

@{
    ViewData["Title"] = "Konec";
}

<h1 style="text-align: center;">Karantena vam poteče čez

@foreach (var item in Model) {
        @if(item.Id.Equals((string)ViewData["userId"])){
            @Html.DisplayFor(model => (item.Odloki.DatumKonca - item.Odloki.DatumZacetka).Days)
        }
}

 dni</h1>

