@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<h3>Dodaj uporabnika</h3>
@if (ViewData["Ustvarjen"] != "True")
{
<h5>Uporabnik ni bil ustvarjen</h5>
}
 <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
<div class="row">
    <div class="col-md-4">
       
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Ime"></label>
                <input asp-for="Input.Ime" class="form-control" />
                <span asp-validation-for="Input.Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Priimek"></label>
                <input asp-for="Input.Priimek" class="form-control" />
                <span asp-validation-for="Input.Priimek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Telefon"></label>
                <input asp-for="Input.Telefon" class="form-control" />
                <span asp-validation-for="Input.Telefon" class="text-danger"></span>
            </div>
            
            
        
    </div>
    <div class="col-md-4">
        <hr/>
            <div class="form-group">
                <label asp-for="Input.Mesto"></label>
                <input asp-for="Input.Mesto" class="form-control" />
                <span asp-validation-for="Input.Mesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Naslov"></label>
                <input asp-for="Input.Naslov" class="form-control" />
                <span asp-validation-for="Input.Naslov" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.DatumZacetka"></label>
                <input asp-for="Input.DatumZacetka" class="form-control" />
                <span asp-validation-for="Input.DatumZacetka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DatumKonca"></label>
                <input asp-for="Input.DatumKonca" class="form-control" />
                <span asp-validation-for="Input.DatumKonca" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
    </div>
    
</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
